.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0px 0px 20px;
}

.navbar .left {
    width: calc(100% - 60%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .left .logo {
    font-style: italic;
    text-decoration: none;
}


.right {
    height: inherit;
    display: flex;
    width: calc(35% - 20%);
    justify-content: space-around;
    align-items: center;
}

.right img {
    height: inherit;
}